{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% load template_utils %}

{% block content %}
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'main/js/home.js' %}"></script>
    <script src="{% static 'main/js/company.js' %}"></script>

    <div class="card-body">
        {% get_validator_is_active as validator_is_active %}
        {% if validator_is_active %}
            <div class="page-loading m-2">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                <h4>{% trans "Loading..." %}</h4>
                </div>
            </div>
            <div class="page-wrapper">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 p-3 text-gray-800">{% trans 'Clients search' %} <a class="text-secondary"
                            href="https://app.salestech.pro/ru/wiki/nachalo-raboty/"><i class="fas fa-info-circle"></i></a></h1>
                    <div class="card shadow mb-4 ml-3 mr-3 search-for-name d-none" id="byname">
                        <div class="card-body">
                            <form method="post" id="by_name">
                                {% csrf_token %}
                                <div class="row">
                                    {% for form_item in find_by_name_form %}
                                        <div class="col-sm">
                                            {{ form_item.errors }}
                                            {{ form_item.label_tag }}
                                            {{ form_item }}
                                        </div>
                                    {% endfor %}
                                    <div class="col-sm">
                                        <label for="submit"><br></label>
                                        <input type="submit" id="submit" class="btn btn-primary btn-user btn-block"
                                               value="{% trans 'Find client' %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="card shadow mb-4 ml-3 mr-3 search-for-domain d-none" id="bydomain">
                        <div class="card-body">
                            <form method="post" id="by_domain">
                                {% csrf_token %}
                                <div class="row">
                                    {% for form_item in find_by_domain_form %}
                                        <div class="col-sm-8">
                                            {{ form_item.label_tag }}
                                            {{ form_item }}
                                        </div>
                                    {% endfor %}
                                    <div class="col-sm-4">
                                        <label for="submit"><br></label>
                                        <input type="submit" id="submit" class="btn btn-primary btn-user btn-block"
                                               value="{% trans 'Find client' %}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    {% comment %}
                        <div class="card shadow mb-4 ml-3 mr-3 search-for-feature d-none" id="byfeature">
                            <div class="card-body">
                                <form method="post" id="by_feature">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-sm-5">
                                            <label for="id_company_size">{{ find_by_feature_form.fields.company_size.label }}: </label>
                                            <select id="id_company_size" name="company_size"
                                                    class="form-control form-control-user" style="width: 100%">
                                                {% for x, y in find_by_feature_form.fields.company_size.choices %}
                                                    <option value="{{ x }}"
                                                            {% if company_size == x %}
                                                            selected{% endif %}>{{ y }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <label for="id_company_branch">{{ find_by_feature_form.fields.company_branch.label }}: </label>
                                            <select id="id_company_branch" name="company_branch"
                                                    class="form-control form-control-user" style="width: 100%">
                                                {% for x, y in find_by_feature_form.fields.company_branch.choices %}
                                                    <option value="{{ x }}"
                                                            {% if company_branch == x %}
                                                            selected{% endif %}>{{ y }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="submit"><br></label>
                                            <input type="submit" id="submit" class="btn btn-primary btn-user btn-block"
                                                value="{% trans 'Find client' %}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endcomment %}


                    <div class="card shadow mb-4 ml-3 mr-3">
                        <div>
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="table-responsive overflow-hidden pl-2">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="list1" role="tabpanel"
                                                 aria-labelledby="list-home-list1">
                                                <table class="table table-bordered" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th>{% trans 'Name' %}</th>
                                                        <th>{% trans 'Position' %}</th>
                                                        <th>{% trans 'Email' %}</th>
                                                        <th>{% trans 'LinkedIn profile' %}</th>
                                                        <th>{% trans 'Company name' %}</th>
                                                        <th>{% trans 'Status' %}</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody class="search-for-name d-none" id="tb_byname">
                                                    {% if mails_data %}
                                                        {% for key, value in mails_data.items %}
                                                            <tr>
                                                                <td> {{ find_by_name_form.name.value }} {{ find_by_name_form.surname.value }}</td>
                                                                <td>{{ container.contact.middle_name }}</td>
                                                                <td>{{ key }}</td>
                                                                <td>N/A</td>
                                                                <td>{{ find_by_name_form.domain.value }}</td>
                                                                <td>{{ value }}</td>
                                                                <td>
                                                                    <button class="btn btn-primary m-2"
                                                                            data-toggle="modal"
                                                                            data-target="#add_generated_contact_to_list{{ forloop.counter }}"
                                                                            onclick="processModalForm()"
                                                                            name="add_to_list{{ forloop.counter }}"
                                                                            title="{% trans 'Add to existing list' %}">
                                                                        <i class="fas fa-list"></i>
                                                                        <i class="fas fa-plus"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        {% endfor %}
                                                    {% else %}
                                                        <td valign="top" colspan="6"
                                                            class="text-center">{% trans 'No data available in table' %}</td>
                                                    {% endif %}
                                                    </tbody>
                                                    <tbody class="search-for-domain d-none" id="tb_bydomain">
                                                    {% if paginator.queryset %}
                                                        {% for contact in paginator.queryset %}
                                                            <tr>
                                                                <td>{{ contact.name }} {{ contact.surname }}</td>
                                                                <td>{{ contact.position_in_company }}</td>
                                                                <td class="email"
                                                                    id="contact{{ contact.id }}">{% trans 'Hidden' %}</td>
                                                                <td>
                                                                    {% if contact.linkedin_link|slice:":9" == "https://" %}
                                                                        <a href="{{ contact.linkedin_link }}">{{ contact.linkedin_link }}</a>
                                                                    {% else %}
                                                                        <a href="https://{{ contact.linkedin_link }}">{{ contact.linkedin_link }}</a>
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ company_name }}</td>
                                                                <td>{{ value }}</td>
                                                                <td>
                                                                    <button class="btn btn-primary m-2"
                                                                            id="unlock_email{{ contact.id }}"
                                                                            onclick="unlock_email('{{ contact.id }}')"
                                                                            title="{% trans 'Unlock email' %}"><i
                                                                            class="fas fa-eye"></i></button>
                                                                    <button class="btn btn-primary m-2"
                                                                            data-toggle="modal"
                                                                            data-target="#add_generated_contact_to_list{{ forloop.counter }}"
                                                                            onclick="processModalForm()"
                                                                            disabled="disabled"
                                                                            name="add_to_list{{ forloop.counter }}"
                                                                            id="add_to_list{{ contact.id }}"
                                                                            title="{% trans 'Add to existing list' %}">
                                                                        <i class="fas fa-list"></i>
                                                                        <i class="fas fa-plus"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>


                                                        {% endfor %}
                                                    {% else %}
                                                        <td valign="top" colspan="6"
                                                            class="text-center">{% trans 'No data available in table' %}</td>
                                                    {% endif %}
                                                    </tbody>

                                                    {% comment %}
                                                        <tbody class="search-for-feature d-none" id="tb_byfeature">
                                                        {% if paginator.queryset %}
                                                            {% for contact in paginator.queryset %}
                                                                <tr>
                                                                    <td>{{ contact.name }} {{ contact.surname }}</td>
                                                                    <td>{{ contact.position_in_company }}</td>
                                                                    <td class="email"
                                                                        id="contact{{ contact.id }}_feauture">{% trans 'Hidden' %}</td>
                                                                    <td>
                                                                        {% if contact.linkedin_link|slice:":9" == "https://" %}
                                                                            <a href="{{ contact.linkedin_link }}">{{ contact.linkedin_link }}</a>
                                                                        {% else %}
                                                                            <a href="https://{{ contact.linkedin_link }}">{{ contact.linkedin_link }}</a>
                                                                        {% endif %}
                                                                    </td>

                                                                    <td>{{ contact.company.company_name }}</td>
                                                                    <td>{# {{ contact }} #}</td>
                                                                    <td>
                                                                        <button class="btn btn-primary m-2"
                                                                                id="unlock_email{{ contact.id }}"
                                                                                onclick="unlock_email('{{ contact.id }}')"
                                                                                title="{% trans 'Unlock email' %}"><i
                                                                                class="fas fa-eye"></i></button>

                                                                        <button class="btn btn-primary m-2" data-toggle="modal"
                                                                                id="add_to_list_feauture{{ contact.id }}"
                                                                                data-target="#add_generated_contact_to_list{{ forloop.counter }}"
                                                                                onclick="processModalForm()"
                                                                                disabled="disabled"
                                                                                name="add_to_list{{forloop.counter}}"
                                                                                title="{% trans 'Add to existing list' %}">
                                                                            <i class="fas fa-list"></i>
                                                                            <i class="fas fa-plus"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                            <td valign="top" colspan="6" class="text-center">{% trans 'No data available in table' %}</td>
                                                        {% endif %}
                                                        </tbody>
                                                    {% endcomment %}

                                                    {% if paginator.queryset %}
                                                        <ul class="pagination" id="pagination">
                                                            <li class="page-item {% if not paginator.previous_page %} disabled {% endif %}">
                                                                <a class="page-link" tabindex="-1"
                                                                   onclick="find_clients_change_page('{{ paginator.previous_page }}')">Previous</a>
                                                            </li>
                                                            {% for page in paginator.pages %}
                                                                {% if paginator.this_page == page %}
                                                                    <li class="page-item active"><span
                                                                            class="page-link">{{ page }}</span></li>
                                                                {% elif page == paginator.ellipsis %}
                                                                    <li class="page-item disabled"><span
                                                                            class="page-link">{{ page }}</span></li>
                                                                {% else %}
                                                                    <li class="page-item"><a class="page-link"
                                                                                             onclick="find_clients_change_page('{{ page }}')">{{ page }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <li class="page-item {% if not paginator.next_page %} disabled {% endif %}">
                                                                <a class="page-link" tabindex="-1"
                                                                   onclick="find_clients_change_page('{{ paginator.next_page }}')">Next</a>
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </table>

                                                {% for key, form in forms_for_found_mails.items %}

                                                    <div class="modal fade"
                                                         id="add_generated_contact_to_list{{ forloop.counter }}"
                                                         tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="addUserModalLongTitle_{{ forloop.counter }}"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="addUserModalLongTitle_{{ forloop.counter }}">{% trans 'Add client' %}</h5>
                                                                    <button type="button" class="close close-btn"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <form class="user" method="post"
                                                                          id="addUserForm_{{ forloop.counter }}"
                                                                          onsubmit="add_generated_contact_form_submit(this, event)">
                                                                        {% csrf_token %}

                                                                        <label for="id_user_lists">{{ form.fields.user_lists.label }}: </label>
                                                                        <select id="id_user_lists" name="user_lists"
                                                                                class="form-control"
                                                                                style="width: 100%">
                                                                            {% for x, y in form.fields.user_lists.choices %}
                                                                                <option value="{{ x }}">{{ y }}</option>
                                                                            {% endfor %}
                                                                        </select>

                                                                        {{ form.first_name }}
                                                                        {{ form.surname }}
                                                                        {{ form.middle_name }}
                                                                        {{ form.email }}
                                                                        {{ form.phone_number }}
                                                                        {{ form.position }}
                                                                        {{ form.company }}
                                                                        {{ form.site }}

                                                                        <div class="modal-footer">
                                                                            <input type="submit"
                                                                                   onclick="add_generated_contact_submit_press('{{ forloop.counter }}')"
                                                                                   data-dismiss="modal"
                                                                                   class="btn btn-primary btn-user btn-block"
                                                                                   value="{% trans 'Add Contact' %}">
                                                                        </div>

                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}

                                                {% for contact in contacts %}
                                                    <a href="#x" class="overlay"
                                                       id="add_to_list{{ contact.id }}"></a>
                                                    <div class="popup">
                                                        <form class="user" method="post"
                                                              action="">
                                                            {% csrf_token %}
                                                            {{ value }}


                                                            <input type="submit"
                                                                   class="btn btn-primary btn-user btn-block"
                                                                   value="{% trans 'Add to selected list' %}">
                                                        </form>
                                                        <a class="close" title="Закрыть" href="#close">
                                                            <span aria-hidden="true">&times;</span></a>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {% trans "An error has occurred. Technical work is underway. We'll fix it soon" %}
            </div>
        {% endif %}
    </div>

    <div class="myAlert-bottom alert alert-success">
        <strong>{% trans 'Success' %}!</strong> {% trans 'Client was successfully added' %}
    </div>
{% endblock %}