{% load static %}
{% load i18n %}
{% load template_utils %}


{% get_variables as variables %}
<button type="button" id="addTelegramButton" data-toggle="modal" data-target="#addTelegramModalCenter" hidden="true"></button>
<div class="modal fade" id="addTelegramModalCenter" tabindex="-1" role="dialog" aria-labelledby="addTelegramModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTelegramModalCenterTitle">{% trans 'Add Telegram' %}</h5>
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" id="telegram-popup" method="post" onsubmit="telegrampopuponsubmit(event)">
                    {% csrf_token %}
                    <label for="tg_set_template">{% trans set_template_form.fields.templates.label %}: </label>
                    <select id="tg_set_template" name="set_template" class="form-control" style="width: 100%" onchange="settgtemplatechange(this)">
                        <option disabled selected value> {% trans 'Use a template' %} </option>
                        {% for x, y in set_template_form.fields.templates.choices %}
                            <option value="{{ x }}">{{ y }}</option>
                        {% endfor %}
                    </select>
                    <label for="tg_subject_line">{% trans 'Subject line' %}:</label>
                    <div class="input-group">
                        <input type="text" id="tg_subject_line" name="tg_subject_line" class="form-control">
                        <div class="dropdown dropright">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                { }
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for variable in variables.0 %}
                                    <button class="dropdown-item" type="button" onclick="tgsubjectline_setuserlocalvarable(`{{ variable.variable }}`)">{{ variable.name }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <label for="tg_msg">
                        {% trans 'Message' %}:
                        <div class="dropdown dropleft">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {% trans 'Variables' %}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for variable in variables.0 %}
                                    <button class="dropdown-item" type="button" onclick="tgmsg_setuserlocalvarable(`{{ variable.variable }}`)">{{ variable.name }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </label>
                    <textarea id="tg_msg" name="tg_msg" class="form-control" rows="5"></textarea>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Add Telegram' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button type="button" id="addTgTemplateNButton" data-toggle="modal" data-target="#addTgTemplateNModalCenter" hidden="true"></button>
<div class="modal fade" id="addTgTemplateNModalCenter" tabindex="-1" role="dialog" aria-labelledby="addTgTemplateNModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTgTemplateNModalCenterTitle">{% trans 'Add Template' %}</h5>
                <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" id="tgtemplate-popup" method="post" onsubmit="addtgtemplate(event)">
                    {% csrf_token %}
                    <label for="template_name">{% trans 'Template name' %}  :</label>
                    <input type="text" id="tg_template_name" name="tg_template_name" class="form-control">
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="{% trans 'Add Template' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>