{% load i18n %}
{% load template_utils %}


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Page Heading -->
{% if not lists %}
    <div class="alert alert-info"
         role="alert">{% trans 'Sadly, you have not created any list yet. In order to make one, press' %} <a
            class="btn btn-primary btn-user btn-bloc" ,="">
        <i class="fas fa-list"></i>
        <i class="fas fa-plus"></i>
    </a>
        {% trans "and specify it's name" %}
    </div>
{% endif %}
<h1 class="h3 mb-2 p-3 text-gray-800">{% trans 'home_page_h1_clients' %} <a class="text-secondary"
        href="https://app.salestech.pro/ru/wiki/spiski-rassylki/"><i class="fas fa-info-circle"></i></a></h1>

<div class="row">
    <!-- DataTales Example -->
    <div class="w-15 col-12">
        <div class="card shadow">
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-user btn-bloc" data-toggle="modal"
                        data-target="#addUserListModalCenter">
                    <i class="fas fa-list"></i>
                    <i class="fas fa-plus"></i>
                </button>
                <div class="modal fade" id="addUserListModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="addUserListModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addUserListModalCenterTitle">{% trans 'Add list' %}</h5>
                                <button type="button" class="close close-btn" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <label for="list_name">{% trans 'Name of the list' %}:</label>
                                <input type="text" class="form-control" name="list_name" id="list_name">

                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="add_list_button"
                                            data-url="{% url 'contacts_list' %}">{% trans 'Add list' %}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-flush" id="clientsList" role="tablist">
                    {% if lists %}
                        {% for list in lists %}
                            <a class="list-group-item client-list list-group-item-action d-flex justify-content-between {% if selected_list_id and selected_list_id == list.pk %}active{% endif %}"
                               id="list-home-list{{ list.id }}" href="#list{{ list.id }}" data-url="{% url 'contacts_list' list.pk %}" data-toggle="list" role="tab">
                                <div class="list p-2">{{ list.list_name }}</div>
                                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                                <div class="dropdown-menu dropdown-menu-right zindex-dropdown">
                                    <button class="dropdown-item" type="button" data-toggle="modal"
                                            data-target="#rename_list{{ list.id }}">{% trans 'Rename list' %}</button>
                                    <button class="dropdown-item" type="button" data-toggle="modal"
                                            data-target="#delete_contacts_list{{ list.id }}">{% trans 'Delete list' %}</button>
                                </div>
                            </a>

                            <div class="modal fade" id="rename_list{{ list.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close close-btn" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="name_list">{% trans 'List name' %} :</label>
                                            <input type="text" id="name_list{{ list.id }}" name="name_list{{ list.id }}"
                                                   value="{{ list.list_name }}" class="form-control">
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary btn-user btn-block"
                                                    id="rename_list_button{{ list.id }}" data-list_id="{{ list.id }}"
                                                    data-url="{% url 'contacts_list' %}">{% trans 'Rename list' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="delete_contacts_list{{ list.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="exampleModalLabel">{% trans 'Are you sure you want to delete the contacts list?' %}</h5>
                                            <button type="button" class="close close-btn" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">{% trans 'Select "Delete" below if you`re ready to delete the contacts list.' %}</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button"
                                                    data-dismiss="modal">{% trans 'Cancel' %}</button>
                                            <button class="btn btn-danger" id="delete_contacts_list_button{{ list.id }}"
                                                    data-list_id="{{ list.id }}"
                                                    data-url="{% url 'contacts_list' %}">{% trans 'Delete' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="pt-3"> {% trans 'You have no lists yet' %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="p-1"></div>
        <div class="card shadow mb-4">
            <div class="tab-content">
                {% for list_id, paginator in list_id_to_contacts.items %}
                    <div class="tab-pane {% if selected_list_id and selected_list_id == list_id %}active{% endif %}"
                         role="tabpanel" aria-labelledby="list-home-list{{ list_id }}" id="list{{ list_id }}">

                        <div class="card mb-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <label for="name">{% trans 'Name' %}:</label>
                                        <input type="text" class="form-control" name="search_name"
                                               id="search_name{{ list_id }}">
                                    </div>
                                    <div class="col-sm">
                                        <label for="name">{% trans 'Surname' %}:</label>
                                        <input type="text" class="form-control" name="search_surname"
                                               id="search_surname{{ list_id }}">
                                    </div>
                                    <div class="col-sm">
                                        <label for="name">{% trans 'Domain' %}:</label>
                                        <input type="text" class="form-control" name="search_domain"
                                               id="search_domain{{ list_id }}">
                                    </div>
                                    <div class="col-sm">
                                        <label for="submit"><br></label>
                                        <input type="submit" id="search_form_submit{{ list_id }}"
                                               class="btn btn-primary btn-user btn-block"
                                               value="{% trans 'Find contact' %}" data-list_id="{{ list_id }}"
                                               data-search_url="{% url 'contacts_search' %}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row mb-2">

                                <div class="col-6">
                                    <br/>
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" type="button"
                                            id="dropdownMenuButton">
                                        <i class="fas fa-user-plus"></i>
                                    </button>


                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button type="button" class="dropdown-item" data-toggle="modal"
                                                data-target="#addUserModalLong_{{ list_id }}"
                                                data-whatever="add_contact{{ list_id }}" onclick="processModalForm()">
                                            {% trans "Input client data" %}
                                        </button>
                                        <button type="button" class="dropdown-item" data-toggle="modal"
                                                data-target="#addUserModalFile_{{ list_id }}"
                                                data-whatever="add_contact{{ list_id }}" onclick="processModalForm()">
                                            {% trans "Upload CSV file with your existing clients" %}
                                        </button>
                                    </div>

                                    <a class="btn btn-primary btn-user m-2 {% if not paginator.queryset %}disabled{% endif %}"
                                       href="{% url 'export_list_to_csv' list_id=list_id %}">
                                        <i class="fas fa-file-export"></i>
                                    </a>

                                    <a class="btn btn-danger btn-user m-2"
                                       onclick="remove_clients('{{ list_id }}, {{ forloop.counter }}')">
                                        <i class="fas fa-trash"></i>
                                    </a>

                                    <a class="btn btn-primary btn-user m-2"
                                       href="https://app.salestech.pro/ru/wiki/spiski-rassylki/">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </div>

                                <div class="col-6">
                                    <label for="actions-{{ list_id }}">{% trans 'Action' %}:</label>
                                    <div class="input-group">
                                        <select class="form-control" name="actions-{{ list_id }}"
                                                id="actions-{{ list_id }}" data-list_id="{{ list_id }}">
                                            <option id="empty-{{ list_id }}" value>---------</option>
                                            <option id="del-{{ list_id }}"
                                                    value="del">{% trans 'Delete selected contacts' %}</option>
                                            <option id="trans-{{ list_id }}"
                                                    value="trans">{% trans 'Transfer selected contacts' %}</option>
                                        </select>
                                        <button class="btn btn-secondary" id="actions_submit-{{ list_id }}"
                                                data-list_id="{{ list_id }}"
                                                data-update_url="{% url 'contacts_actions' %}"
                                                data-page="{{ paginator.this_page }}"
                                                data-trans_id="" data-bulk_del="">{% trans 'Submit' %}</button>
                                    </div>
                                </div>

                                <div class="modal fade" id="bulk_transfer_contact{{ list_id }}" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close close-btn" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="id_bulk_transfer_contact_{{ list_id }}">{{ transfer_contact_form.fields.contacts_list.label }}: </label>
                                                <select id="id_bulk_transfer_contact_{{ list_id }}"
                                                        name="bulk_transfer_contact_{{ list_id }}"
                                                        class="form-control"
                                                        style="width: 100%">
                                                    {% for x, y in transfer_contact_form.fields.contacts_list.choices %}
                                                        <option value="{{ x }}"
                                                                {% if list_id == x %}
                                                                selected {% endif %}>{{ y }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" id="bulk_transfer_contact_submit_{{ list_id }}"
                                                       class="btn btn-primary btn-user btn-block"
                                                       value="{% trans 'Move clients' %}" data-list_id="{{ list_id }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="bulk_delete_contact{{ list_id }}" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="exampleModalLabel">{% trans 'Are you sure you want to delete the selected contacts?' %}</h5>
                                                <button type="button" class="close close-btn"
                                                        data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">{% trans 'Select "Delete" below if you are ready to delete contacts.' %}</div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">{% trans 'Cancel' %}</button>
                                                <button class="btn btn-danger"
                                                        id="bulk_delete_button{{ list_id }}"
                                                        data-list_id="{{ list_id }}">{% trans 'Delete' %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Add contact Pop-Up -->
                            <div class="modal fade" id="addUserModalLong_{{ list_id }}" tabindex="-1"
                                 role="dialog" aria-labelledby="addUserModalLongTitle_{{ list_id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="addUserModalLongTitle_{{ list_id }}">{% trans 'Add client' %}</h5>
                                            <button type="button" class="close close-btn"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% get_validator_is_active as validator_is_active %}
                                            {% if validator_is_active %}
                                                <form class="user" method="post" id="addUserForm_{{ list_id }}"
                                                      action="{% url 'contacts' list_id %}">
                                                    {% csrf_token %}

                                                    {{ add_contact_form }}

                                                    <div class="modal-footer">
                                                        <input type="submit"
                                                               class="btn btn-primary btn-user btn-block"
                                                               value="{% trans 'Add Contact' %}">
                                                    </div>
                                                </form>
                                            {% else %}
                                                <div class="alert alert-danger" role="alert">
                                                    {% trans "An error has occurred. Technical work is underway. We'll fix it soon" %}
                                                </div>
                                                <button class="btn btn-secondary" type="button"
                                                        data-dismiss="modal">{% trans 'Close' %}</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="addUserModalFile_{{ list_id }}" tabindex="-1"
                                 role="dialog" aria-labelledby="addUserModalLongTitle_{{ list_id }}"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="addUserModalLongTitle_{{ list_id }}">{% trans 'Add client' %}</h5>
                                            <button type="button" class="close close-btn"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <form class="user" method="post"
                                                  id="addUserFromFileForm_{{ list_id }}"
                                                  action="{% url 'contacts' list_id %}"
                                                  enctype="multipart/form-data">
                                                {% csrf_token %}

                                                {{ add_contacts_from_file_form }}


                                                <div class="modal-footer">
                                                    <input type="submit"
                                                           onclick="$('#addUserFromFileForm_{{ list_id }}').submit();"
                                                           data-dismiss="modal"
                                                           class="btn btn-primary btn-user btn-block"
                                                           value="{% trans 'Add Contact' %}">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popup scrollable">
                                <a href="#close" class="close" type="button" data-dismiss="modal"
                                   aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </a>
                            </div>
                            </a>
                            <div class="table-responsive">
                                <div class="tab-content">
                                    <div class="tab-pane active" role="tabpanel"
                                         aria-labelledby="list-home-list{{ list_id }}">
                                        <table class="table table-bordered"
                                               width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th><input type="checkbox" class="btn" id="checks_button-{{ list_id }}"
                                                    data-list_id="{{ list_id }}"></input></th>
                                                <th>{% trans 'Last name' %}</th>
                                                <th>{% trans 'First name' %}</th>
                                                <th>{% trans 'Middle name' %}</th>
                                                <th>{% trans 'Email' %}</th>
                                                <th>{% trans 'Phone' %}</th>
                                                <th>{% trans 'Company name' %}</th>
                                                <th>{% trans 'Position' %}</th>
                                                <th>{% trans 'Telegram Chat id' %}</th>
                                                <th>{% trans 'Actions' %}</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if paginator.queryset %}
                                                {% for container in paginator.queryset %}
                                                    <tr>
                                                        <td><input type="checkbox" class="btn" id="check-{{ list_id }}-{{ container.pk }}" data-container_id="{{ container.pk }}"></input></td>
                                                        <td>{{ container.contact.surname }}</td>
                                                        <td id="{{ container.id }}">{{ container.contact.name }}</td>
                                                        <td>{{ container.contact.middle_name }}</td>
                                                        <td>{{ container.contact.email }}</td>
                                                        <td>{{ container.contact.phone }}</td>
                                                        <td>{{ container.contact.company.company_name }}</td>
                                                        <td>{{ container.contact.position_in_company }}</td>
                                                        <td>{{ container.contact.telegram_id }}</td>
                                                        <td style="white-space: nowrap;">
                                                            <button class="btn btn-primary"
                                                                    data-target="#transfer_contact{{ container.pk }}"
                                                                    data-toggle="modal" title="{% trans 'Move' %}"><i
                                                                    class="fas fa-exchange-alt"></i></button>
                                                            <button class="btn btn-warning"
                                                                    id="editcontactButton{{ container.contact.pk }}"
                                                                    data-toggle="modal"
                                                                    data-target="#editcontactModalCenter{{ container.contact.pk }}"
                                                                    title="{% trans 'Edit' %}"><i
                                                                    class="fas fa-edit"></i></button>
                                                            <button class="btn btn-danger" href="#" data-toggle="modal"
                                                                    data-target="#delete_contact{{ container.contact.pk }}"
                                                                    title="{% trans 'Delete' %}"><i
                                                                    class="fas fa-trash"></i></button>
                                                        </td>   
                                                    </tr>

                                                    <div class="modal fade" id="transfer_contact{{ container.pk }}"
                                                         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close close-btn"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="user" id="transfer_contact_form"
                                                                          method="post"
                                                                          action="{% url 'transfer_contact' container.pk %}?page={{ paginator.this_page }}">
                                                                        {% csrf_token %}
                                                                        <label for="id_transfer_contact">{{ transfer_contact_form.fields.contacts_list.label }}: </label>
                                                                        <select id="id_transfer_contact"
                                                                                name="transfer_contact"
                                                                                class="form-control"
                                                                                style="width: 100%">
                                                                            {% for x, y in transfer_contact_form.fields.contacts_list.choices %}
                                                                                <option value="{{ x }}"
                                                                                        {% if container.list.pk == x %}
                                                                                        selected {% endif %}>{{ y }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit"
                                                                           onclick="$('#transfer_contact_form').submit()"
                                                                           class="btn btn-primary btn-user btn-block"
                                                                           value="{% trans 'Move client' %}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="modal fade"
                                                         id="delete_contact{{ container.contact.pk }}" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="exampleModalLabel">{% trans 'Are you sure you want to delete the contact?' %}</h5>
                                                                    <button type="button" class="close close-btn"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">{% trans 'Select "Delete" below if you`re ready to delete the contact.' %}</div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" type="button"
                                                                            data-dismiss="modal">{% trans 'Cancel' %}</button>
                                                                    <button class="btn btn-danger"
                                                                            id="contact_delete_button{{ container.pk }}"
                                                                            data-list_id="{{ list_id }}"
                                                                            data-container_id="{{ container.pk }}"
                                                                            data-contact_id="{{ container.contact.pk }}"
                                                                            data-url="{% url 'contacts' %}"
                                                                            data-page="{{ paginator.this_page }}">{% trans 'Delete' %}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal fade"
                                                         id="editcontactModalCenter{{ container.contact.pk }}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="editcontactModalCenter{{ container.contact.pk }}"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="editcontactModalCenterTitle{{ container.contact.pk }}">{% trans 'Edit contact' %}</h5>
                                                                    <button type="button" class="close close-btn"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="user"
                                                                          id="edit_contact_form{{ container.contact.pk }}"
                                                                          method="post"
                                                                          action="{% url 'edit_contact' container.contact.pk %}?page={{ paginator.this_page }}"
                                                                          onsubmit="editContact(event, '{{ container.contact.pk }}')">
                                                                        {% csrf_token %}
                                                                        <label for="edit_contact_first_name{{ container.contact.pk }}">{% trans 'First name' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_first_name{{ container.contact.pk }}"
                                                                               name="edit_contact_first_name{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.name }}">

                                                                        <label for="edit_contact_last_name{{ container.contact.pk }}">{% trans 'Last name' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_last_name{{ container.contact.pk }}"
                                                                               name="edit_contact_last_name{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.surname }}">

                                                                        <label for="edit_contact_midname{{ container.contact.pk }}">{% trans 'Middle name' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_midname{{ container.contact.pk }}"
                                                                               name="edit_contact_midname{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.middle_name }}">

                                                                        <label for="edit_contact_email{{ container.contact.pk }}">{% trans 'Email' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_email{{ container.contact.pk }}"
                                                                               name="edit_contact_email{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.email }}">

                                                                        <label for="edit_contact_phone{{ container.contact.pk }}">{% trans 'Phone' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_phone{{ container.contact.pk }}"
                                                                               name="edit_contact_phone{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.phone }}">

                                                                        <label for="edit_contact_position{{ container.contact.pk }}">{% trans 'Position' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_position{{ container.contact.pk }}"
                                                                               name="edit_contact_position{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.position_in_company }}">

                                                                        <label for="edit_contact_company_name{{ container.contact.pk }}">{% trans 'Company name' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_company_name{{ container.contact.pk }}"
                                                                               name="edit_contact_company_name{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.company.company_name }}">

                                                                        <label for="edit_contact_company_site{{ container.contact.pk }}">{% trans 'Company site' %}:</label>
                                                                        <input type="text"
                                                                               id="edit_contact_company_site{{ container.contact.pk }}"
                                                                               name="edit_contact_company_site{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.company.company_site }}">

                                                                        <label for="edit_contact_telegram_id{{ container.contact.pk }}">{% trans 'Telegram Chat id' %}:</label>
                                                                        <input type="number"
                                                                               id="edit_contact_telegram_id{{ container.contact.pk }}"
                                                                               name="edit_contact_telegram_id{{ container.contact.pk }}"
                                                                               class="form-control"
                                                                               value="{{ container.contact.telegram_id }}">

                                                                        <div class="modal-footer">
                                                                            <input type="submit"
                                                                                   class="btn btn-primary btn-user btn-block"
                                                                                   id="reedit_contact__button{{ container.contact.pk }}"
                                                                                   value="{% trans 'Edit contact' %}">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <td valign="top" colspan="10"
                                                    class="text-center">{% trans 'No data available in table' %}</td>
                                            {% endif %}
                                            </tbody>
                                        </table>

                                        {% if paginator.queryset %}
                                            <ul class="pagination" id="pagination">
                                                <li class="page-item {% if not paginator.previous_page %} disabled {% endif %}">
                                                    <a class="page-link" tabindex="-1"
                                                       onclick="home_change_page('{{ paginator.previous_page }}', '{{ list_id }}')">Previous</a>
                                                </li>
                                                {% for page in paginator.pages %}
                                                    {% if paginator.this_page == page %}
                                                        <li class="page-item active"><span
                                                                class="page-link">{{ page }}</span></li>
                                                    {% elif page == paginator.ellipsis %}
                                                        <li class="page-item disabled"><span
                                                                class="page-link">{{ page }}</span></li>
                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 onclick="home_change_page('{{ page }}', '{{ list_id }}')">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li class="page-item {% if not paginator.next_page %} disabled {% endif %}">
                                                    <a class="page-link" tabindex="-1"
                                                       onclick="home_change_page('{{ paginator.next_page }}', '{{ list_id }}')">Next</a>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>